*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.accordion{
    background-color:#eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.3s;
}
.accordion:after{
    content: '\002B';
    color:#777 ;
    font-weight: bold;
    float:right ;
    margin-right: 5px;
}

.active, .accordion:hover{
    background-color: #bbb;
}
.active:after{
    content: '\2212';
}
.panel{
    
    background-color: #eee;
    /* display: none; */
    max-height: 0;
    overflow: hidden;
    transition: 0.2s ease-out;
}

.panel p{
    padding:  20px;
}